<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bgs.witkey.boot.mapper.UserMapper">

    <resultMap id="rm" type="com.bgs.witkey.boot.pojo.User">
        <result column="creat_name" property="createName" jdbcType="VARCHAR" />
        <result column="creat_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="update_name" property="updateName" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <!--通过账户和密码查询用户信息-->
    <select id="selUserInfoByNameAndPwd" parameterType="com.bgs.witkey.boot.pojo.User" resultMap="rm">
        select * from witkey_user

        where username = #{username}
        and password = #{password}
    </select>

    <!--修改用户信息-->
    <update id="updUserInfo" parameterType="com.bgs.witkey.boot.pojo.User">
        update witkey_user
        set
        username = #{username},iphone = #{iphone},qq = #{qq},
        update_name = #{username},update_date = now(),remarks = #{remarks}
        where id = #{id}
    </update>

    <!--增加单条用户信息-->
    <insert id="insUserInfo" parameterType="com.bgs.witkey.boot.pojo.User">
        insert into witkey_user
        values
        (null , #{username},#{password},#{iphone},#{qq},#{createName},now(),null,null,#{remarks})
    </insert>

    <!-- 上传文档 -->
    <insert id="upLoadDemandScheme">

        insert into witkey_demand_scheme value (default,#{id},#{demandId},#{newName})

    </insert>

    <!-- 删除文档 -->
    <delete id="deleteSchemByCountent" parameterType="String">

        delete from witkey_demand_scheme where schemes = #{contenet}

    </delete>


</mapper>





